<div class="container">
  <h3>マイページ</h3>
  <div class="row mt-5">
    <div class="col-4 text-left">
      <h3>登録情報</h3><%= link_to "編集する", edit_customer_path(current_customer), class:"btn btn-success" %>
      
    </div>
  </div>
</div>