<h2>商品一覧</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>1</p>
      </td>
      <td>
        <p>洋梨のチーズタルト</p>
      </td>
      <td>
        <p>1,200</p>
      </td>
      <td>
        <p>ケーキ</p>
      </td>
      <td>
        <p>販売中</p>
      </td>
    </tr>
    </tbody>
  </table>