<!DOCTYPE html>
<html>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-3 mr-auto">
            <table class="table table-border">
              <thead>
                <tr>
                  <th>ジャンル検索</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>ケーキ</th>
                </tr>
                <tr>
                  <th>焼き菓子</th>
                </tr>
                <tr>
                  <th>プリン</th>
                </tr>
                <tr>
                  <th>キャンディ</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6 mr-auto">
            <div style="position: relative; display:inline-block;">
              <img src="images/topimg.jpg" alt="topimage">
                <div class="row mt-5">
                  <div class="col">
                    <h5>ようこそ、ながのCAKEへ！<br>
                    このサイトは、ケーキ販売のECサイトになります。<br>
                    会員でない方も商品の閲覧はできますが、<br>
                    購入には会員登録が必要になります。
                    </h5>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-9 ml-auto">
            <h2>新着商品</h2>
            <div class="row">
              <div class="col-2">
                <img src="images/newitem1.jpg" alt="newimage">
                <p>商品名</p>
                <p>¥0,000</p>
              </div>
              <div class="col-2">
                <img src="images/newitem2.jpg" alt="newimage">
                <p>商品名</p>
                <p>¥0,000</p>
              </div>
              <div class="col-2">
                <img src="images/newitem3.jpg" alt="newimage">
                <p>商品名</p>
                <p>¥0,000</p>
              </div>
              <div class="col-2">
                <img src="images/newitem4.jpg" alt="newimage">
                <p>商品名</p>
                <p>¥0,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
