<div class="container">
  <h3>ジャンル編集</h3>
    <div class="row mt-5">
      <div class="col">
        <%= form_with model: @genre, url: admin_genre_path do |f| %>
          <div class="form-inline">
            <div class="form-group mb-2 mr-2">
              <%= f.label :"ジャンル名" %>
            </div>
            <div class="form-group mx-sm-5 mb-2">
              <%= f.text_field :name %>
            </div>
            <div class="form-group mb-2">
              <%= f.submit '変更を保存', class:"btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
