@import '~bootstrap/scss/bootstrap';

.navbar-brand {
    margin-right: 10rem;
}

.genre_table {
  width: 60%;
}

.topimg {
    position: relative;
    background-size: cover;
    opacity: 0.5;
    // background-color: rgba(255, 255 ,255 ,0.7);
    // background-blend-model: lighten;
}

.toptext {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.profile_table {
    line-height: 3;
}

.table_th {
    background-color: whitesmoke;
}

.pagination {
    justify-content: center;
}
.page a,
.next a,
.last a,
.first a,
.prev a {
  margin-left: 10px;
  margin-right: 10px;
}

.current {
  font-weight: bold;
}